
/* header backkground colour */
header {
    background-color: lightcoral;
}

/* bacgrund colour of main */
main {
    background-color: lightblue;
}

 /* footer background colour */
footer {
    background-color: green;
}

