
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');



.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }


  .oswald-rogue-font {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }



  .sour-gummy-my-superfont {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* Asterix wildcard selector to override defult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    /* border-box -> so when we set the height or width to an
element, it will be applied to the entire element, including the border. */
    box-sizing: border-box; 
} 

/* body style rules */
body {
    /* Using min-height will allow it to stretch larger than the height of the
screen when there is enough content on the page that the user needs to scroll. */
    min-height: 100vh;
    display: flex;
    /* our elements will still show underneath each other. */
    flex-direction: column;
    color: #3a3a3a;
    font-family: "lato", sans-serif;
}

/* header background colour */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    /* spreads to the full length*/
    width: 100%;
    /* creating shadow 1st value is top-bottom and 2nd value is left-right 3rd vale is how 
    hard / blured the shadow will be 4th value is colour*/
    box-shadow: 0 2px 2px #3a3a3a;
    /* displays content next to eac other - checbox nect to the header*/ 
    display: flex;
    justify-content: space-between;
    /* making sure they align vertically*/
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "oswald", sans-serif;    
    text-transform: uppercase;
    /* adding spaces between letters */ 
    letter-spacing: 2px;
    color: #252525;
}

/* styling unordered list*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* removes the bullet points from the list*/
    list-style-type: none;
}

#menu > li {
    margin-bottom: 2em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles with dropdown toggle*/
nav {
    /* Absolute positioning takes an element outside the normal
flow of the page structure.
It is positioned relative to the nearest positioned ancestor
in our case, the header. */
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
/*    position: fixed; */
/* we set diplay as "none" so that they are hidden until selected */
    display: none;
/* Effectively, this tells the navigation element that the top of the
 element should start at the bottom of its parent. */
    top: 100%
}

/* Check boxes have a pseudo class that indicates
    when they are checked - we need the tilde to
    indicate that we want to target the adjoining
    nav element.*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
}


/* bacgrund colour of main */
main {
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 47px;
}

 /* footer background colour */
footer {
    background-color: green;
}

